{% extends 'mysite/base.html' %}
{% load static %}
{% block title %}About Page{% endblock title %} 

{% block content %}
<div class="container mt-5">
    <h1 class="text-white">About Us</h1>

    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Mollitia suscipit quae non placeat, nam quos nulla! Dolorem nobis tempore ratione id, 
        incidunt laborum laboriosam officiis dolor atque quibusdam harum aliquam placeat asperiores laudantium ipsum 
        blanditiis qui fugiat doloremque molestiae. Eum soluta alias vero deserunt voluptate magni optio excepturi, 
        eius doloremque voluptatum perferendis possimus laudantium, illum saepe ipsam. Debitis vero beatae, 
        quidem iure a minima quo nesciunt aut unde, exercitationem nemo sapiente ab eos, dicta dolore modi perspiciatis. 
        Earum provident pariatur cum ea commodi quibusdam ab fugit quam exercitationem sit nihil, numquam itaque ratione? 
        Praesentium est libero culpa quos assumenda temporibus unde qui optio quibusdam provident, 
        et aut repellendus explicabo vero asperiores fugit odit sit quia deserunt cupiditate. 
        Obcaecati beatae adipisci neque ratione ab? Dolore obcaecati inventore tempore, 
        est rerum non blanditiis eius tempora dolor vel ipsum natus aliquam iste voluptatem commodi, 
        labore quae libero placeat cupiditate. Id, soluta architecto. Vero?</p>

    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Rerum et eius sit, placeat velit dolorum quae mollitia quo! Numquam, placeat totam? 
        Consequuntur corporis odit recusandae libero illum, repellat dolore commodi placeat ex id rem aspernatur incidunt 
        voluptatibus ad aperiam obcaecati numquam eos, molestiae minima laboriosam! Delectus amet debitis iure animi!</p>
</div>
{% endblock content %}