<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        .my_user{
            color:brown;
            
        }
        .my_pass{
            color: brown;
        }
    </style>
</head>
<body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        <!--label start here-->
        {% for fm in form %}
        <div class="form-group">
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} 
        </div> <br>
        {% endfor %}
        <!--label start here-->
       
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %}

        <input type="submit" value="Login">
    </form>
</body>
</html>


        
        <!--Error Fields end here-->