<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserCreationForm</title>
</head>
<body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        <!--{{form.as_p}}-->
        {% for field in form %}
        {{field.label_tag}} {{field}} {{field.errors|striptags}} <br> <br>
        {% endfor %}

        <input type="submit" value="Submit">
    </form>
    {% if messages %}
    {% for message in messages %}
    <p {% if message.tag %} {{message.tag}} {% endif %} >{{message}} </p>
    {% endfor %}
    {% endif %}
</body>
</html>