<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abstract Base Inheritance</title>
    <style>
        table, th, tr, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <!--Student data-->
    <table>
        <h2>Student Information</h2>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Fees</th>

        {% for student in students %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.fees}}</td>
        </tr>
        {% endfor %}
    </table> <hr> 

    <!--Teacher data-->
    <table>
        <h2>Teacher Information</h2>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Date</th>
        <th>Salary</th>

        {% for teacher in teachers %}
        <tr>
            <td>{{teacher.id}}</td>
            <td>{{teacher.name}}</td>
            <td>{{teacher.age}}</td>
            <td>{{teacher.date}}</td>
            <td>{{teacher.salary}}</td>
        </tr>
        {% endfor %}
    </table> <hr> 

    <!--Student data-->
    <table>
        <h2>Contractor Information</h2>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Datetime</th>
        <th>Payment</th>

        {% for contractor in contractors %}
        <tr>
            <td>{{contractor.id}}</td>
            <td>{{contractor.name}}</td>
            <td>{{contractor.age}}</td>
            <td>{{contractor.date}}</td>
            <td>{{contractor.payment}}</td>
        </tr>
        {% endfor %}
    </table> <hr> 
</body>
</html>