<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Blog Post</h1>
    {% if is_paginated %}

    {% for post in page_obj %}
    <h3>{{post.title}}</h3>
    <p>{{post.post_body | truncatewords:20 }} <a href="{% url 'detail' post.id %}">Read More</a> </p>
    <small>{{post.publish_date}}</small>
    {% endfor %}

    <div>
        <span>
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}

            <span>Page {{ page_obj.number }} of {{page_obj.paginator.num_pages }} </span>

            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Next</a>
            {% endif %}
        </span>
    </div>

    {% else %}

    {% for post in object_list %}
    <h3>{{post.title}}</h3>
    <p>{{post.post_body}}</p>
    <small>{{post.publish_date}}</small>
    {% endfor %}

    {% endif %}
</body>
</html>