<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuerySet Field Lookups</title>
    <style>
        table, th, tr, td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <h1>Student Infromation</h1>
        <th>ID</th>
        <th>Name</th>
        <th>Roll</th>
        <th>City</th>
        <th>Marks</th>
        <th>Passing Year</th>
        <th>Adm dateTime</th>

        {% for student in students %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.roll}}</td>
            <td>{{student.city}}</td>
            <td>{{student.marks}}</td>
            <td>{{student.passdate}}</td>
            <td>{{student.admdatetime}}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Average Data: {{average}} </h3>
    <h3>Average: {{average.marks__avg}} </h3> <hr>

    <h3>Maximum Data: {{maximum}} </h3>
    <h3>Maximum: {{maximum.marks__max}} </h3> <hr>

    <h3>Minimum Data: {{minimum}} </h3>
    <h3>Minimum: {{minimum.marks__min}} </h3><hr>

    <h3>Summation Data: {{total}} </h3>
    <h3>Summation: {{total.marks__sum}} </h3><hr>

    <h3>Total Count Data: {{totalcount}} </h3>
    <h3>Total Count: {{totalcount.marks__count}} </h3>
</body>
</html>